@using DamacanaWeb.Models;
@model List<DamacanaWeb.Models.Product>
@{
    ViewBag.Title = "DeleteProduct";
}
<p>Delete Product</p>

<div><b> Product deleted  </b></div>
Product delected <a href="@Url.Action("ProductList")"> Go to List</a>