@using DamacanaWeb.Models;
@model  List<DamacanaWeb.Models.Product>

@{
    ViewBag.Title = "Home Page";
}
<form class="form-horizontal">
    <div class="form-group">
    </div>
    <a href="@Url.Action("ProductList" )">
        <div class="form-group">
            <b> Enter the Site</b>
        </div>
    </a>
</form>
